@import "./login.scss";
@import "./brand-colors.scss";

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.dashboard-header {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom-color: lightgrey;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.dashbaord-content {
  display: flex;
  flex: 9;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-footer {
  @extend .login-footer;
}

.user-avatar {
  width: 70px;
  height: 70px;
  border-radius: 40px;
}

.assistant-container {
  margin-top: 20px;
  max-height: 410px;
  overflow: scroll;
}

.assistant-row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $solitude;
  width: 370px;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.assistant-avatar {
  @extend .flex-center-row;
  flex: 1;
  justify-content: left;
}

.assistant-container-options {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.add-workspace {
  margin-top: 20px;
}

.flex-row {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.visible-show {
  visibility: visible;
}
.visible-hide {
  visibility: hidden;
}
